[gcode_macro SUSENJE]
gcode:
    {% set temp = params.TEMPERATURA|default(70)|int %}
    {% set cas = params.CAS|default(8)|float %}
    {% set sekunde = (cas * 3600)|int %}
    SET_IDLE_TIMEOUT TIMEOUT={sekunde} GCODE=KONEC_SUSENJA
    M140 S{temp}
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.1
    M118 Nastavljeno je sušenje na {temp} stopinj za {cas} ur, exhaust_fan deluje na 10%.

[gcode_macro KONEC_SUSENJA]
gcode:
    TURN_OFF_HEATERS
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    M118 Sušenje končano. Grelci in exhaust_fan so izklopljeni.

[gcode_macro BEEP]
gcode:
    SET_PIN PIN=beeper VALUE=1
    G4 P10
    SET_PIN PIN=beeper VALUE=0

[gcode_macro mainled_on]
gcode:
    SET_PIN PIN=main_led VALUE=1

[gcode_macro mainled_off]
gcode:
    SET_PIN PIN=main_led VALUE=0

[gcode_shell_command FACTORY_RESETS]
command: /home/sovol/factory_resets.sh
timeout: 2.

[force_move]
enable_force_move: True

[gcode_macro _global_var]
variable_pause_park:{'x': 0, 'y': 0, 'z': 10, 'e': 1}
variable_cancel_park:{'x': 0, 'y': 350, 'z': 10, 'e': 1}
variable_z_maximum_lifting_distance: 345
variable_pause_resume_travel_speed: 150
variable_load_filament_extruder_temp: 250
variable_bed_mesh_calibrate_target_temp: 65
variable_has_z_offset_calibrated: False
gcode:

[gcode_macro _IDLE_TIMEOUT]
gcode:
    {% if printer.print_stats.state == "paused" %}
      RESPOND TYPE=echo MSG="No operations in 10min!"
    {% else %}
      M84
      TURN_OFF_HEATERS
    {% endif %}

[gcode_macro _ALL_FAN_OFF]
gcode:
    M106 S0
    M107

[gcode_macro CLEAN_NOZZLE]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
       G28
    {% else %}
       G28 Z
    {% endif %}
    G90
    G1 X240 Y325 F9000
    M117 Nozzle heating...
    M109 S200
    G91
    G1 Z10 F300
    G90
    M106 S255
    M117 Clean nozzle

    G1 X240 Y360 F9000
    G90
    G1 Z-1.5 F300
    G1 X245 F4800
    G1 Y358 X271
    G1 X245
    G1 Y358 X271
    G1 X255
    G1 Y360 X271
    G1 X255
    G1 Y360 X271
    G1 X245
    G1 Y362 X271
    G1 X245
    G1 Y362 X271
    G1 X255
    G1 Y363 X271
    G1 X255
    G1 Y362 X271

    G91
    G1 Z5 F400
    G90
    G1 X310 Y359 F4000
    G91
    G1 Z-5 F400
    G90
    G1 X313 F4800
    G1 X310
    G1 X313
    G1 X310
    G1 X313
    G1 X310
    G91

    M104 S130
    M400
    M117 Clean Finish
    M109 S130
    M107
    G91
    G1 Z10 F300
    G90
    G28 Z0

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
    {% set default_bed = printer['gcode_macro _global_var'].bed_mesh_calibrate_target_temp|int %}
    {% set param_bed = params.BED_TEMP|default(0)|int %}
    {% set current_target_temp = printer.heater_bed.target|int %}
    {% set mesh_bed = param_bed if param_bed > 0 else (current_target_temp if current_target_temp > 0 else default_bed) %}
    {% set restore_off = 1 if current_target_temp == 0 and param_bed == 0 else 0 %}

    {action_respond_info("Check Heating! bed=" ~ mesh_bed)}
    M140 S{mesh_bed}
    M190 S{mesh_bed}

    {% if printer.toolhead.homed_axes|lower != "xyz" %}
        G28
    {% endif %}
    SET_VELOCITY_LIMIT ACCEL=20000
    QUAD_GANTRY_LEVEL_BASE
    SET_VELOCITY_LIMIT ACCEL=40000

    {% if restore_off %}
        M140 S0
    {% endif %}

[gcode_macro G34]
gcode:
    BED_MESH_CLEAR
    {% if printer.toolhead.homed_axes|lower != "xyz" %}
      G28
    {% else %}
      G28 Z
    {% endif %}
    QUAD_GANTRY_LEVEL
    G28 Z
    G0 X175 Y175 Z30 F3600

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_BASE
gcode:
    {% set default_bed = printer['gcode_macro _global_var'].bed_mesh_calibrate_target_temp|int %}
    {% set current_target_temp = printer.heater_bed.target|int %}
    {% set mesh_bed = current_target_temp if current_target_temp > 0 else default_bed %}
    {% set restore_off = 1 if current_target_temp == 0 else 0 %}
    {% set origin_square_corner_velocity_val = printer.toolhead.square_corner_velocity|float %}
    {% set temporarily_square_corner_velocity_val = 1.0 %}

    {action_respond_info("Check Heating! bed=" ~ mesh_bed)}
    M140 S{mesh_bed}
    M190 S{mesh_bed}

    #{% if not printer['gcode_macro _global_var'].has_z_offset_calibrated %}
     #   G28 XY
        #Z_OFFSET_CALIBRATION
    #{% endif %}

    {% if printer.quad_gantry_level.applied|lower != 'true' %}
        QUAD_GANTRY_LEVEL
    {% endif %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={temporarily_square_corner_velocity_val}
    BED_MESH_CALIBRATE_BASE ADAPTIVE=1 METHOD=rapid_scan
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={origin_square_corner_velocity_val}

    {% if restore_off %}
        M140 S0
    {% endif %}

[gcode_macro START_PRINT]
gcode:
    {% set bed_temp = params.BED_TEMP|default(printer.heater_bed.target)|int %}
    {% set extruder_temp = params.EXTRUDER_TEMP|default(printer.extruder.target)|int %}

    {% if printer.save_variables.variables.was_interrupted|float == True %}
        PRINT_END
    {% endif %}
    CLEAR_PAUSE
    {% if printer['filament_switch_sensor filament_sensor'].enable == True and
          printer['filament_switch_sensor filament_sensor'].filament_detected != True %}
        M117 No filament!!!
        {action_respond_info("Please Insert filament in Sensor!")}
        CANCEL_PRINT
    {% endif %}
    M140 S{bed_temp}
    M190 S{bed_temp}
    SET_GCODE_OFFSET Z=0
    M117 Clean Nozzle
    CLEAN_NOZZLE
    M117 Z Offset Calibration
    #Z_OFFSET_CALIBRATION
    SET_GCODE_VARIABLE MACRO=_global_var VARIABLE=has_z_offset_calibrated VALUE=True
    G28 Z
    _APPLY_PID HEATER=extruder TARGET={extruder_temp}
    M104 S{extruder_temp}
    M117 Gantry Leveling
    QUAD_GANTRY_LEVEL BED_TEMP={bed_temp}
    M117 Mesh Calibration
    BED_MESH_CALIBRATE
    SET_GCODE_VARIABLE MACRO=_global_var VARIABLE=has_z_offset_calibrated VALUE=False
    M117 Heating to print temp...
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={extruder_temp-2} MAXIMUM={extruder_temp+5}
    PRIME_NOZZLE
    save_last_file
    M117 Printing...

[gcode_macro PRIME_NOZZLE]
gcode:
    G90
    M83
    G1 X0 Y20 F9000
    G1 Z0.600 F600
    G1 Y0 F9000
    M400
    G91
    G1 E25 F300
    G4 P1000
    G1 E-0.200 Z5 F600
    G1 X88.000 F9000
    G1 Z-5.000 F600
    G1 X87.000 E20.88 F1800
    G1 X87.000 E13.92 F1800
    G1 Y1 E0.16 F1800
    G1 X-87.000 E13.92 F1800
    G1 X-87.000 E20.88 F1800
    G1 Y1 E0.24 F1800
    G1 X87.000 E20.88 F1800
    G1 X87.000 E13.92 F1800
    G1 E-0.200 Z1 F600
    M400

[gcode_macro END_PRINT]
description:
variable_state: 'normal'
gcode:
    {% set z_max = printer['gcode_macro _global_var'].z_maximum_lifting_distance|int %}
    {% set e_mintemp = printer.configfile.settings['extruder'].min_extrude_temp %}

    M117 Finish Print!!!
    {% if printer.toolhead.homed_axes|lower == "xyz" %}
        G91
        {% if printer['filament_switch_sensor filament_sensor'].enable == True and
            printer['filament_switch_sensor filament_sensor'].filament_detected == True
        %}
            {% if (printer.extruder.target != 0 and printer.extruder.temperature >= printer.extruder.target and
                printer.extruder.temperature >= e_mintemp)
            %}
                G1 E-2 F2700
                G1 E-2 Z0.2 F2400
            {% endif %}
        {% endif %}
        {% if (printer.gcode_move.position.z + 10) < z_max %}
            G1 Z+10 F3000
        {% else %}
            G1 Z+{(z_max - printer.gcode_move.position.z)} F3000
        {% endif %}
        G90
        G1 X0 Y350 F9000
    {% endif %}
    _ALL_FAN_OFF
    TURN_OFF_HEATERS
    M220 S100
    M221 S100
    CLEAR_PAUSE
    PRINT_END
    M84 X Y Z E
    {action_respond_info("Finish Print!")}

[gcode_macro CANCEL_PRINT]
description:
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set x_park = printer['gcode_macro _global_var'].cancel_park.x|float %}
    {% set y_park = printer['gcode_macro _global_var'].cancel_park.y|float %}
    {% set z_park = printer['gcode_macro _global_var'].cancel_park.z|float %}
    {% set z_lift_max = printer['gcode_macro _global_var'].z_maximum_lifting_distance %}
    {% set e_restract = printer['gcode_macro _global_var'].cancel_park.e|float %}
    {% set e_mintemp = printer.configfile.settings['extruder'].min_extrude_temp %}
    CANCEL_PRINT_BASE
    {% if printer.toolhead.homed_axes|lower == "xyz" %}
        G91
        {% if printer['filament_switch_sensor filament_sensor'].enabled == True and
            printer['filament_switch_sensor filament_sensor'].filament_detected == True
        %}
            {% if (printer.extruder.target != 0 and printer.extruder.temperature >= printer.extruder.target) and
                printer.extruder.temperature >= e_mintemp
            %}
                G1 E-{e_restract} F500
            {% else %}
                {action_respond_info("Nozzle not hot enough")}
            {% endif %}
        {% endif %}
        {% if (printer.gcode_move.position.z + 10) < z_lift_max %}
            G1 Z+10 F3000
        {% else %}
            G1 Z+{(z_lift_max - printer.gcode_move.position.z)} F3000
        {% endif %}
        G90
        G1 X{x_park} Y{y_park} F9000
    {% endif %}
    TURN_OFF_HEATERS
    _ALL_FAN_OFF
    M220 S100
    M221 S100
    CLEAR_PAUSE
    PRINT_END
    M84 X Y Z E
    {action_respond_info("Cancel Print Success!")}

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
variable_state: 'normal'
variable_is_pausing: False
gcode:
    {% if printer['gcode_macro PAUSE'].is_pausing %}
        {action_respond_info("Pause already in progress, skipping")}
    {% else %}
        SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=is_pausing VALUE=True
        {% if printer.pause_resume.is_paused == False %}
            {% set x_park = printer['gcode_macro _global_var'].pause_park.x|float %}
            {% set y_park = printer['gcode_macro _global_var'].pause_park.y|float %}
            {% set e_restract = printer['gcode_macro _global_var'].pause_park.e|float %}
            {% set z_lift_max = printer['gcode_macro _global_var'].z_maximum_lifting_distance %}
            {% set state = params.STATE if 'filament_change' in params.STATE else 'normal' %}

            {action_respond_info("Pause Print!")}

            PAUSE_BASE
            G91
            {% if printer.toolhead.homed_axes|lower == "xyz" %}
                {% if (printer.gcode_move.position.z + 5) < z_lift_max %}
                    G1 Z+5 F3000
                {% else %}
                    G1 Z+{(z_lift_max - printer.gcode_move.position.z)} F3000
                {% endif %}
                G90
                {% if printer.gcode_move.position.x != x_park and
                        printer.gcode_move.position.y != y_park
                %}
                    G1 X{x_park} Y{y_park} F{printer["gcode_macro _global_var"].pause_resume_travel_speed * 60}
                {% endif %}
            {% endif %}
            M104 S{printer.extruder.target}

            {% if state == 'normal' %}
                {% if (printer.extruder.temperature + 5 >= printer.extruder.target) and (printer.extruder.temperature >= printer.configfile.settings['extruder'].min_extrude_temp) %}
                    {% if printer['filament_switch_sensor filament_sensor'].enabled == True and
                        printer['filament_switch_sensor filament_sensor'].filament_detected == True
                    %}
                        G91
                        G1 E-{e_restract} F300
                        G90
                    {% elif printer['filament_switch_sensor filament_sensor'].enabled == True and
                            printer['filament_switch_sensor filament_sensor'].filament_detected != True %}
                        UNLOAD_FILAMENT
                    {% endif %}
                {% endif %}
            {% elif state == 'filament_change' %}
                {% if (printer.extruder.temperature + 5 >= printer.extruder.target) and (printer.extruder.temperature >= printer.configfile.settings['extruder'].min_extrude_temp) %}
                   {% if printer['filament_switch_sensor filament_sensor'].filament_detected == True %}
                       BUFFER_LONG_UNLOAD_FILAMENT
                   {% else %}
                       UNLOAD_FILAMENT
                   {% endif %}
                   M400
                {% endif %}
            {% endif %}
        {% endif %}
        SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=is_pausing VALUE=False
    {% endif %}

[delayed_gcode _resume_wait]
gcode:
    {% if printer['gcode_macro RESUME'].execute|lower != 'false' %}
        RESUME
    {% endif %}

[gcode_macro RESUME]
description: Pause the actual running print
rename_existing: RESUME_BASE
variable_state: 'normal'
gcode:
    {% set e_restract = printer['gcode_macro _global_var'].pause_park.e|float %}
    {% set extruder_target_temp = printer.extruder.target|int %}
    {% set state = params.STATE if 'filament_change' in params.STATE else 'normal' %}

    {% if state == 'filament_change' %}
        {% if printer["filament_switch_sensor filament_sensor"].enable == True and
              printer["filament_switch_sensor filament_sensor"].filament_detected != True
        %}
            {action_respond_info("Please Insert filament in Sensor!")}
        {% else %}
            {% if printer.extruder.temperature + 5 >= printer.extruder.target and (printer.extruder.temperature >= printer.configfile.settings['extruder'].min_extrude_temp) %}
                G91
                G1 E30 F300
                G1 E10 F150
                G90
            {% else %}
                M104 S{extruder_target_temp}
                {action_respond_info("Nozzle not hot enough!")}
                {action_respond_info("Nozzle heating...")}
                M109 S{extruder_target_temp}
                G91
                G1 E30 F300
                G1 E10 F150
                G90
            {% endif %}
            {action_respond_info("Print resumming!")}
            RESUME_BASE
        {% endif %}
    {% elif state == 'normal' %}
        {% if printer['filament_switch_sensor filament_sensor'].enable != True and
              printer['filament_switch_sensor filament_sensor'].filament_detected != True
        %}
            {action_respond_info("Please Insert filament in Sensor!")}
        {% else %}
            {action_respond_info("Print resumming!")}
            G91
            G1 E{e_restract} F300
            G90
            RESUME_BASE
        {% endif %}
    {% endif %}
    M400

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set extruder_temp = printer['gcode_macro _global_var'].load_filament_extruder_temp|int %}
    {% set current_target_temp = printer.extruder.target|int %}
    {% if printer.print_stats.state != "printing" %}
        {% if printer.print_stats.state != "paused" %}
            M104 S{extruder_temp}
            {action_respond_info("Nozzle heating...")}
            M109 S{extruder_temp}
        {% else %}
            {% if printer.extruder.target == 0 %}
                M104 S{extruder_temp}
                {action_respond_info("Nozzle heating...")}
                M109 S{extruder_temp}
            {% else %}
                M104 S{printer.extruder.target}
                {action_respond_info("Nozzle heating...")}
                M109 S{printer.extruder.target}
            {% endif %}
        {% endif %}
        G91
        G1 E45 F300
        G1 E30 F150
        G90
        M400
        {% if current_target_temp == 0 or printer.print_stats.state != "paused" %}
            M104 S0
        {% endif %}
    {% else %}
        {action_respond_info("Don't load filament during printing!!!")}
    {% endif %}

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set extruder_temp = printer['gcode_macro _global_var'].load_filament_extruder_temp|int %}
    {% set current_target_temp = printer.extruder.target|int %}
    {% if printer.print_stats.state != "printing" %}
        {% if printer.print_stats.state != "paused" %}
            M104 S{extruder_temp}
            {action_respond_info("Nozzle heating...")}
            M109 S{extruder_temp}
        {% else %}
            {% if printer.extruder.target == 0 %}
                M104 S{extruder_temp}
                {action_respond_info("Nozzle heating...")}
                M109 S{extruder_temp}
            {% else %}
                M104 S{printer.extruder.target}
                {action_respond_info("Nozzle heating...")}
                M109 S{printer.extruder.target}
            {% endif %}
        {% endif %}
        G91
        G1 E+25 F300
        M400
        G1 E-10 F1500
        G1 E-20 F600
        G4 P3000
        M400
        G1 E-50 F300
        G90
        M400
        {% if current_target_temp == 0 or printer.print_stats.state != "paused" %}
            M104 S0
        {% endif %}
        {action_respond_info("Don't unload filament during printing!!!")}
    {% endif %}

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S|float %}
    {% if s != 0 %}
        _APPLY_PID HEATER=extruder TARGET={s}
    {% endif %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-1} MAXIMUM={s+2}
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    {% set s = params.S|float %}
    {% if s != 0 %}
        _APPLY_PID HEATER=heater_bed TARGET={s}
    {% endif %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-1} MAXIMUM={s+2}
    {% endif %}

[gcode_macro M600]
gcode:
    PAUSE STATE=filament_change

[gcode_macro plr_temperature_wait]
gcode:
    {% set extruder_target_temp = printer.extruder.target|int %}
    {% set bed_targer_temp = printer.heater_bed.target|int %}
    M190 S{bed_targer_temp}
    M109 S{extruder_target_temp}
